@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue chez Kidoro Matelas</h1>
    <p>Découvrez le confort ultime avec nos matelas de haute qualité.</p>
    <a class="btn btn-success btn-lg" asp-controller="Usuel" asp-action="Index">
        Voir nos produits
    </a>
</div>

@* <div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <i class="fas fa-warehouse fa-3x mb-3"></i>
                    <h5 class="card-title">Voir Stock</h5>
                    <a href="/Stock" class="btn btn-primary">
                        Voir Stock📦
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <i class="fas fa-cogs fa-3x mb-3"></i>
                    <h5 class="card-title">Ajouter Transformation</h5>
                    <a href="/Transformation/Add" class="btn btn-primary">
                        Ajouter Transformation ⚙️
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> *@
